{% extends 'layout.html' if not request.headers.get('X-Requested-With') == 'XMLHttpRequest' else 'base_ajax.html' %}
{% block content %}
<h2 class="section-title">Your Library</h2>
{% if playlists %}
<ul class="song-list">
    {% for playlist in playlists %}
        {% if playlist.playlistId %}
        <li class="song-item">
            <a href="/playlist/{{ playlist.playlistId }}" class="nav-link">
                {% if playlist.thumbnails and playlist.thumbnails|length > 0 %}
                    <img src="{{ proxy_image(playlist.thumbnails[-1].url) }}" class="song-thumb" alt="Thumb">
                {% else %}
                    <div class="song-thumb"></div>
                {% endif %}
                <div class="song-info">
                    <div class="song-title">{{ playlist.title }}</div>
                    <div class="song-artist">
                        Playlist {% if playlist.count %}• {{ playlist.count }} songs{% endif %}
                    </div>
                </div>
            </a>
        </li>
        {% endif %}
    {% endfor %}
</ul>
{% else %}
<p>No playlists found.</p>
{% endif %}
{% endblock %}
